html {
    font-style: sans-serif;
    background-image: url("./drums.jpg");
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
}

kbd {
    margin: 6px;
    font-size: 3em;
}


    .container {
        text-align: center;
        color: blue;
        font-size: 2em;
    }

    
    .keys {
        display: flex;
        flex: 1;
        min-height: 50vh;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .key {
        border-style: solid;
        border-width: 1px;
        margin: 6px;
        text-align: center;
        padding: 10px 20px 10px 20px;
        transition: all 0.7s ease;
    }

    .sound {
        display: flex;
        font-size: 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .playing {
        transform: scale(1.1);
        border-color: blue;
        box-shadow: 5px blue;
    }